apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: relay
  namespace: ${namespace}
  labels:
    app: relay
spec:
  selector:
    matchLabels:
      app: relay
  endpoints:
    - port: metrics
      interval: 30s
      path: /metrics
