[submodule "indigo"]
	path = indigo
	url = ../indigo.git
[submodule "atproto"]
	path = atproto
	url = ../atproto.git
[submodule "did-method-plc"]
	path = did-method-plc
	url = ../did-method-plc
[submodule "u-at-proto"]
	path = u-at-proto
	url = ../u-at-proto.git
[submodule "jetstream"]
	path = jetstream
	url = ../jetstream.git
[submodule "social-app"]
	path = social-app
	url = ../social-app.git
[submodule "feed-generator"]
	path = feed-generator
	url = ../feed-generator.git
[submodule "github-org"]
	path = github-org
	url = ../.github.git
[submodule "ozone"]
	path = ozone
	url = git@github.com:eurosky-social/ozone.git
[submodule "firehose-processor-aas"]
	path = firehose-processor-aas
	url = git@github.com:erikologic/firehose-processor-aas.git
[submodule "rsky"]
	path = rsky
	url = git@github.com:eurosky-social/rsky.git
[submodule "litestream"]
	path = litestream
	url = https://github.com/eurosky-social/litestream
