[submodule "ozone"]
	path = ozone
	url = ../ozone.git
[submodule "indigo"]
	path = indigo
	url = ../indigo.git
[submodule "atproto"]
	path = atproto
	url = ../atproto.git
[submodule "did-method-plc"]
	path = did-method-plc
	url = https://github.com/erikologic/did-method-plc
[submodule "tangled/@smokesignal.events/localdev"]
	path = tangled/@smokesignal.events/localdev
	url = https://tangled.sh/@smokesignal.events/localdev
