[submodule "ozone"]
	path = ozone
	url = git@github.com:erikologic/ozone
[submodule "indigo"]
	path = indigo
	url = git@github.com:erikologic/indigo
[submodule "atproto"]
	path = atproto
	url = git@github.com:erikologic/atproto.git
