# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Environment files with credentials
.env*
!.env*.example
!.envrc

# Ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Terraform plan output file
tfplan

# Kube config file
kube-config

# Ignore local MinIO data directory
.minio-data/
