apiVersion: v1
kind: Secret
metadata:
  name: pds-secrets
  namespace: ${namespace}
  labels:
    app: pds
    app.kubernetes.io/name: pds
    app.kubernetes.io/component: server
type: Opaque
stringData:
  PDS_ADMIN_PASSWORD: "${pds_admin_password}"
  PDS_BLOBSTORE_S3_ACCESS_KEY_ID: "${pds_blobstore_access_key}"
  PDS_BLOBSTORE_S3_SECRET_ACCESS_KEY: "${pds_blobstore_secret_key}"
  PDS_DPOP_SECRET: "${pds_dpop_secret}"
  PDS_EMAIL_SMTP_URL: "${pds_email_smtp_url}"
  PDS_JWT_SECRET: "${pds_jwt_secret}"
  PDS_MODERATION_EMAIL_SMTP_URL: "${pds_moderation_email_smtp_url}"
  PDS_PLC_ROTATION_KEY_K256_PRIVATE_KEY_HEX: "${pds_plc_rotation_key}"

# TODO: Consider using helm-secrets or external-secrets for enhanced secret management
# TODO: Consider adding hCaptcha
# TODO: Implement RBAC policies to restrict secret access to pds service account only
