apiVersion: v1
kind: ConfigMap
metadata:
  name: pds-config
  namespace: ${namespace}
  labels:
    app: pds
    app.kubernetes.io/name: pds
    app.kubernetes.io/component: server
data:
  PDS_PORT: "2583"
  PDS_HOSTNAME: "${pds_hostname}"
  PDS_DATA_DIRECTORY: "${pds_data_directory}"
  PDS_ACCOUNT_DB_LOCATION: "${pds_account_db_location}"
  PDS_SEQUENCER_DB_LOCATION: "${pds_sequencer_db_location}"
  PDS_DID_CACHE_DB_LOCATION: "${pds_did_cache_db_location}"
  PDS_ACTOR_STORE_DIRECTORY: "${pds_actor_store_location}"
  PDS_BLOBSTORE_S3_BUCKET: "${pds_blobstore_bucket}"
  PDS_BLOBSTORE_S3_REGION: "${pds_blobstore_region}"
  PDS_BLOBSTORE_S3_ENDPOINT: "${pds_blobstore_endpoint}"
  PDS_DID_PLC_URL: "${pds_did_plc_url}"
  PDS_BSKY_APP_VIEW_URL: "${pds_bsky_app_view_url}"
  PDS_BSKY_APP_VIEW_DID: "${pds_bsky_app_view_did}"
  PDS_MOD_SERVICE_URL: "${pds_mod_service_url}"
  PDS_MOD_SERVICE_DID: "${pds_mod_service_did}"
  PDS_CRAWLERS: "https://bsky.network"
  PDS_INVITE_REQUIRED: "true"
  PDS_BLOB_UPLOAD_LIMIT: "${pds_blob_upload_limit}"
  LOG_ENABLED: "${pds_log_enabled}"
  PDS_EMAIL_FROM_ADDRESS: "${pds_email_from_address}"
  PDS_MODERATION_EMAIL_ADDRESS: "${pds_moderation_email_address}"
  PDS_RECOVERY_DID_KEY: "${pds_recovery_did_key}"
  PDS_SERVICE_NAME: "Eurosky PDS"
  PDS_RATE_LIMITS_ENABLED: "true"
  # PDS_SQLITE_DISABLE_WAL_AUTO_CHECKPOINT: "true"

  # TODO: Add PDS_REDIS_SCRATCH_* to store temporary data in Redis instead of local disk
