<<<<<<< HEAD
provider: cloudflare

podAnnotations:
  checksum/secret: "${secret_checksum}"

env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: ${secret_name}
        key: CF_API_TOKEN
=======
# TODO this is tied to the cloud provider
provider: ${dns_provider}

env:
%{ for key in keys(keys) ~}
  - name: ${key}
    valueFrom:
      secretKeyRef:
        name: external-dns-${dns_provider}
        key: ${key}
%{ endfor ~}
>>>>>>> d173284 (WIP)

sources:
  - service
  - ingress

<<<<<<< HEAD
policy: ${sync_policy}
=======
domainFilters:
  - ${cluster_domain}

policy: sync
>>>>>>> d173284 (WIP)

registry: txt
txtOwnerId: external-dns
txtPrefix: external-dns-

logLevel: info
logFormat: json

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
<<<<<<< HEAD
    cpu: ${resources_limits_cpu}
    memory: ${resources_limits_memory}

serviceMonitor:
  enabled: true
=======
    cpu: 200m
    memory: 128Mi
>>>>>>> d173284 (WIP)
