region                        = "fr-par"
project_id                    = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
subdomain                     = "prod"
k8s_node_type                 = "PRO2-M"
k8s_node_min_size             = 2
k8s_node_max_size             = 5
ozone_cert_manager_issuer     = "letsencrypt-prod"
ozone_server_did              = "did:plc:your-server-did"
ozone_admin_dids              = "did:plc:admin1,did:plc:admin2"
ozone_admin_password          = "generate-with-openssl-rand-hex-16"
ozone_signing_key_hex         = "generate-with-openssl-rand-hex-32"
ozone_db_password             = "generate-with-openssl-rand-base64-32"
ozone_appview_url             = "https://api.bsky.app"
ozone_appview_did             = "did:web:api.bsky.app"
pds_cert_manager_issuer       = "letsencrypt-prod"
pds_storage_size              = "100Gi"
pds_jwt_secret                = "generate-with-openssl-rand-hex-32"
postgres_storage_class        = "scw-bssd"
pds_admin_password            = "generate-with-openssl-rand-hex-16"
pds_plc_rotation_key          = "generate-with-openssl-rand-hex-32"
backup_bucket_name               = "eurosky-backups-prod"
pds_blobstore_bucket_name        = "eurosky-pds-blobs-prod"
prometheus_grafana_admin_password = "generate-with-openssl-rand-hex-16"
prometheus_storage_class         = "scw-bssd"
